<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @raichand.name %>
</p>

<p>
  <b>Email:</b>
  <%= @raichand.email %>
</p>


<%= link_to 'Edit', edit_raichand_path(@raichand) %> |
<%= link_to 'Back', raichands_path %>
