<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @suggestion.content %>
</p>

<p>
  <b>User:</b>
  <%= @suggestion.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @suggestion.category_id %>
</p>


<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
